* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

main{
    flex: 1 0 auto;
}



header{
    background-color: #030374;

}


nav{
    display: flex;
    justify-content: space-between;
}

footer{

    background-color: #030374;
}


#div1{
    min-height: 20vh;
}
#div2{

    min-height: 20vh;
   
}

button{
    width: fit-content;
}



@media only screen and (max-width: 478px){
    .form{
        display: none;
    }
    
    
}
